:root {
  --logo-color-darker: #2c76aeff;
  --logo-color-brighter: #ffbfbfff;
  --text-color: #0a122aff;
  --cta-color: #63b0cdff;
  /* 698f3fff */
}

h1 {
  color: var(--logo-color-darker);
}

h2 {
  color: var(--logo-color-darker);
}

body {
  font-size: 18pt;
  color: var(--text-color);
}

.center {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.rows {
  flex-direction: column;
}

.column {
  max-width: 30em;
}

button {
  color: white;
  font-size: 32pt;
  border-radius: 16pt;
  background-color: var(--cta-color);
  padding: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  transition-duration: 0.5s;
  border: none;

  margin: 5pt;
}

button:hover {
  color: white;
  background-color: var(--logo-color-darker);
}

input[type=number], input[type=string] {
    font-size: 24pt;
    text-align: center;


    border-color: #2c76aeff;
    border-style: solid;
    border-width: 4pt;
    border-radius: 30pt;

    color: #2c76aeff;
}

input[type=number]:focus {
    border-color: #ea6526ff;
    border-style: solid;
    border-width: 4pt;
    border-radius: 30pt;
    color: #ea6526ff;

    outline: none;
}
